/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --bg-img: url(../images/cover-image-light.png);
  --bg-color: #fff1f7;
  --dark-color: #353430;
  --cover-color: #ffc2e6;
  --shadow-color: #ff8dcb;
}
@media (prefers-color-scheme: light) {
  :root {
    --bg-img: url(../images/cover-image-light.png);
    --bg-color: #fff1f7;
    --dark-color: #353430;
    --cover-color: #ffc2e6;
    --shadow-color: #ff8dcb;   
   }
 }

.theme-light .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
  background-color: var(--bg-color);
}

.theme-light .header {
  /* Вам также нужно будет написать ряд подобных селекторов */
  background-image: var(--bg-img);
  background-size: cover;
  background-attachment: fixed;
}

.theme-light .header__decorate {
  display: none;
}

.theme-light .header::before {
  border-color: var(--dark-color);
}

.theme-light .header::after {
  border-color: var(--dark-color);
}

.theme-light .header__theme-menu {
  padding-top: 20px;
}

.theme-light .header__theme-menu-button {
  color: var(--dark-color);
}

.theme-light .header__theme-menu-button_active {
  border-color: var(--dark-color);
}

.theme-light .cover-title {
  color: var(--cover-color);
  text-shadow: 4px 4px var(--shadow-color);
}

.theme-light .header__text {
  background-color: var(--shadow-color);
  color: var(--dark-color);
}

.theme-light .content__title {
  color: var(--dark-color);
}

.theme-light .content__title-decoration {
  background-color: var(--shadow-color);
  color: var(--dark-color);
}

.theme-light .content__subtitle {
  background-color: var(--shadow-color);
  color: var(--dark-color);
}

.theme-light .text {
  color: var(--dark-color);
}

.theme-light .footer-title {
  color: var(--cover-color);
  text-shadow: 4px 4px var(--shadow-color);
}

.theme-light .footer::before {
  border-color: var(--dark-color);
}

.theme-light .footer::after {
  border-color: var(--dark-color);
}



