/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: auto;
  gap: 40px;
  margin: auto;
  min-width: 375px;
  background-color: var(--bg-color);
  background-attachment: fixed;
}

/* стилизация header */
.header {
  display: inherit;
  position: relative;
  background-image: var(--bg-img);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: auto;
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;
}

.decorated-zone::before {
  display: inherit;
  position: absolute;
  bottom: 10px;
  left: 10px;
  content: "";
  height: 25px;
  width: 25px;
  border-left: 1px solid var(--shadow-color);
  border-bottom: 1px solid var(--shadow-color);
  margin: 0;
  padding: 0;
}

.decorated-zone::after {
  display: inherit;
  position: absolute;
  bottom: 635px;
  right: 10px;
  content: "";
  height: 25px;
  width: 25px;
  border-right: 1px solid var(--shadow-color);
  border-top: 1px solid var(--shadow-color);
  margin: 0;
  padding: 0;
}

.header__decorate {
  position: relative;
  left: 295px;
  top: 10px;
  display: flex;
  font-family: var(--main-font);
  font-size: var(--size);
  font-weight: var(--normal);
  color: var(--shadow-color);
  text-transform: uppercase;
  width: 52px;
}

.header__decorate::after {
  content: "";
  display: inherit;
  position: absolute;
  top: 7px;
  left: 43px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: currentColor;
  box-shadow: 0px 0px 4px 2px currentColor;
}

.header__theme-menu {
  display: inherit;
  justify-items: end;
  align-items: center;
  margin-top: 53px;
  padding: 0;
  height: auto;
  width: auto;
}

.header__theme-menu-list {
  display: inherit;
  gap: 13px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.header__theme-menu-button {
  background-color: transparent;
  font-family: var(--main-font);
  font-size: var(--size);
  line-height: 18px;
  font-weight: var(--normal);
  color: var(--shadow-color);
  border: none;
  margin: 0;
  padding: 1.5px 13px;
  cursor: pointer;
}

.header__theme-menu-button_active {
  border: 1px solid var(--shadow-color);
}

.cover-title {
  font-family: var(--main-font);
  font-size: var(--sizecustom-mob);
  line-height: var(--cover-title-lh);
  font-weight: var(--bold);
  color: var(--cover-color);
  text-shadow: 4px 4px var(--shadow-color);
  margin-top: 72px;
  margin-bottom: 55px;
}

.header__text {
  background-color: var(--shadow-color);
  color: var(--bg-color);
  font-family: var(--main-font);
  font-size: var(--size);
  line-height: 23.4px;
  font-weight: var(--bold);
  margin-top: 0;
  margin-bottom: 66px;
}

/* стилизация main */
.main {
  display: inherit;
  gap: 50px;
  box-sizing: border-box;
}

/* стилизация section */
.content {
  display: inherit;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
  gap: 20px;
}

.content__pictures {
  display: inherit;
  gap: 10px;
}

.content__title {
  font-family: var(--main-font);
  font-size: var(--size);
  line-height: 23.4px;
  font-weight: var(--bold);
  color: var(--shadow-color);
  margin: 0;
}

.content__title-decoration {
  color: var(--bg-color);
  background-color: var(--shadow-color);
  margin: 0;
}

.content__subtitle {
  font-family: var(--main-font);
  font-size: var(--size);
  font-weight: var(--bold);
  color: var(--bg-color);
  background-color: var(--shadow-color);
  margin-bottom: 10px;
  margin-top: 0;
}

.content__subtitle-pictures {
  margin: 0;
}

.content__subtitle-decoration {
  font-weight: var(--normal);
}

.link {
  color: var(--link-color);
  text-decoration: none;
}

.link-text {
  text-shadow: 2px 1px var(--shadow-color);
}

.text {
  font-family: var(--main-font);
  font-size: var(--size);
  font-weight: var(--normal);
  line-height: 23.4px;
  color: var(--pink);
  margin: 0;
}

.gallery {
  display: grid;
}

.gallery__list {
  display: inherit;
  gap: 10px;
  margin: 0;
  padding: 0;
}

.gallery__list-item {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.image {
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

/* стилизация footer */
.footer {
  display: grid;
  position: relative;
  height: 100vh;
  min-height: 668px;
  box-sizing: border-box;
}

.footer-title {
  display: inherit;
  justify-content: center;
  align-items: center;
  margin: auto;
  font-family: var(--main-font);
  font-size: var(--cover-title-size);
  line-height: var(--cover-title-lh);
  font-weight: var(--bold);
  color: var(--cover-color);
  text-shadow: 2px 2px var(--shadow-color);
}

@media (width >= 768px) {
  .page {
    max-width: 768px;
    display: grid;
    gap: 60px;
  }

  .header {
    height: 100vh;
    min-height: 1024px;
    max-width: 768px;
    padding: 0;
  }

  .decorated-zone::before {
    position: absolute;
    bottom: 20px;
    left: 20px;
  }

  .decorated-zone::after {
    position: absolute;
    bottom: 980px;
    right: 20px;
  }

  .header__decorate {
    position: relative;
    left: 687px;
    top: 20px;
    width: 52px;
  }

  .header__theme-menu {
    margin-top: 170px;
    margin-bottom: auto;
    margin-right: 20px;
  }

  .cover-title {
    font-size: var(--sizecustom-desc);
    margin-top: 180px;
    margin-bottom: 0;
  }

  .header__text {
    padding: 0;
    margin-top: 162px;
    margin-left: 384px;
    margin-right: 20px;
    margin-bottom: 183px;
    max-width: 364px;
    width: 100%;
  }

  .main {
    display: grid;
    gap: 80px;
  }

  .content__why {
    display: grid;
    grid-template-columns: 236px 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .content__title-why {
    display: inherit;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .content__causes {
    padding-left: 20px;
    padding-right: 20px;
  }

  .content__title-causes {
    margin-right: 600px;
  }

  .content__advices {
    display: grid;
    grid-template-columns: 236px 1fr;
    grid-template-rows: auto;
    gap: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .content__title-advices {
    display: inherit;
    grid-row-start: 1;
    grid-row-end: 7;
  }

  .content__pictures {
    padding-left: 10px;
    padding-right: 10px;
  }

  .content__subtitle-pictures {
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .gallery__list {
    display: grid;
    grid-template-columns: 229px 230px 229px;
    grid-template-rows: auto auto auto;
    gap: 20px;
  }

  .gallery__list-item:nth-of-type(1) {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .gallery__list-item:nth-of-type(2) {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .gallery__list-item:nth-of-type(3) {
    grid-row-start: 2;
    grid-row-end: 4;
  }

  .gallery__list-item:nth-of-type(4) {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .gallery__list-item:nth-of-type(5) {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 3;
  }

  .footer {
    height: 100vh;
    min-height: 1024px;
    max-width: 768px;
    margin: 0;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
  }
}

@media (width >= 1024px) {
  .page {
    min-width: 1024px;
    display: grid;
    gap: 60px;
  }

  .header {
    height: 100vh;
    min-height: 768px;
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
  }

  .decorated-zone::before {
    position: absolute;
    bottom: 20px;
    left: 20px;
  }

  .decorated-zone::after {
    position: absolute;
    bottom: 724px;
    right: 20px;
  }

  .header__decorate {
    position: relative;
    left: 942px;
    top: 20px;
    width: 52px;
  }

  .header__theme-menu {
    display: flex;
    justify-content: center;
    margin: 0;
  }

  .header__theme-menu-list {
    display: inherit;
    flex-direction: row;
    gap: 10px;
  }

  .cover-title {
    font-size: var(--sizecustom-desc);
    display: inherit;
    justify-content: start;
    margin-top: 273px;
  }

  .header__text {
    width: 100%;
    max-width: 491px;
    display: inherit;
    margin-top: 114px;
    margin-left: auto;
    margin-bottom: 134px;
    margin-right: 20px;
    line-height: 23.4px;
  }

  .main {
    display: grid;
    gap: 80px;
  }

  .content__why {
    display: grid;
    grid-template-columns: 315px 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .content__title-why {
    display: inherit;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .content__advices {
    display: grid;
    grid-template-columns: 315px 1fr;
    grid-template-rows: auto;
    gap: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .content__title-advices {
    display: inherit;
    grid-row-start: 1;
    grid-row-end: 7;
  }

  .content__causes {
    display: grid;
    grid-template-columns: 315px 315px 315px;
    grid-template-rows: auto auto;
    gap: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .content__title-causes {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    margin: 0;
  }

  .article__causes:nth-of-type(1) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .article__causes:nth-of-type(2) {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .article__causes:nth-of-type(3) {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .content__content__pictures {
    padding-left: 0;
    padding-right: 0;
  }

  .gallery__list {
    display: grid;
    grid-template-columns: 315px 315px 314px;
    grid-template-rows: auto auto auto;
    gap: 20px;
  }

  .gallery__list-item:nth-of-type(1) {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .gallery__list-item:nth-of-type(2) {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .gallery__list-item:nth-of-type(3) {
    grid-row-start: 2;
    grid-row-end: 4;
  }

  .gallery__list-item:nth-of-type(4) {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .gallery__list-item:nth-of-type(5) {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 3;
  }

  .footer {
    margin: 0;
    width: 100%;
    max-width: 1024px;
    height: 100vh;
    min-height: 768px;
  }

  .footer-title {
    font-size: 157px;
  }

  .footer::before {
    margin-top: 1024px;
  }

  .footer::after {
    margin-top: 0;
  }
}
