:root {
  /* Переменные для вашего проекта */
  /* переменная для фонового изображения */
  --bg-img: url(../images/cover-image-dark.png);
  /* переменные для цвета */
  --bg-color: #000028;
  --accent-color: #000028;
  --text-color: #f1b2ce;
  --cover-color: #db00ff;
  --shadow-color: #ff0070;
  --decor-item-color: #ff0070;
  --subtitle_color: #ff0070;
  /* переменные для шрифта и стилизации текста */
  --main-font: "IBM Plex mono", Helvetica, Arial, sans-serif;
  --size: 18px;
  --sizecustom-mob: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --sizecustom-desc: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  --bold: 700;
  --normal: 400;
  --cover-title-size: 116px;
  --cover-title-lh: 83%;
}
